@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root {
  --font: "Spartan", sans-serif;
  --dark-cyan: hsl(180, 29%, 50%);
  --dark-cyan-shadow: hsla(180, 29%, 50%, 0.2);
  --light-grayish-cyan-1: hsl(180, 52%, 96%);
  --light-grayish-cyan-2: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-grayish-cyan-1);
  background-image: url("../public/images/bg-header-mobile.svg"),
    linear-gradient(
      to bottom,
      var(--dark-cyan) 0,
      var(--dark-cyan) 156px,
      var(--light-grayish-cyan-2) 156px,
      var(--light-grayish-cyan-2) 100%
    );
  background-size: 100% 156px;
  background-repeat: no-repeat;
  color: var(--very-dark-grayish-cyan);
  font-family: var(--font);
  font-weight: 500;
  font-size: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.listings-wrapper {
  margin: 21rem auto 0;
  width: min(88%, 111rem);
}

/* Criteria */

.filter-criteria {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
  background-color: var(--white);
  border-radius: 5px;
  padding: 3.25rem 2.5rem 2.5rem;
}

/* Listing */

.listing {
  width: 100%;
  margin-bottom: 4rem;
  background-color: var(--white);
  border-radius: 5px;
  padding: 3.25rem 2.5rem 0.75rem;
  position: relative;
  box-shadow: 0 1rem 1rem var(--dark-cyan-shadow);
}

.featured-listing {
  border-left: 5px solid var(--dark-cyan);
}

.listing-text {
  border-bottom: 1px solid var(--dark-grayish-cyan);
  padding-bottom: 2rem;
  margin-bottom: 1.75rem;
}

.image-wrapper {
  width: 5rem;
  position: absolute;
  top: -2.5rem;
  left: 2.33rem;
}

.logo {
  width: 100%;
}

.company-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.company {
  color: var(--dark-cyan);
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.badge {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.75rem 1rem 0.5rem;
  color: var(--white);
  margin-right: 1rem;
  border-radius: 50px;
}

.new {
  background: var(--dark-cyan);
}

.featured {
  background: var(--very-dark-grayish-cyan);
}

.position {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.detail {
  color: var(--dark-grayish-cyan);
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.2rem;
  position: relative;
}

.detail::after {
  content: "\2022";
  position: absolute;
  top: 0;
  right: -1.25rem;
}

.detail:last-of-type::after {
  content: none;
}

.detail:first-of-type {
  margin-left: 0;
}

.filter-tablet {
  border: none;
  background-color: var(--light-grayish-cyan-1);
  color: var(--dark-cyan);
  display: inline-block;
  margin: 0 1.75rem 1.75rem 0;
  padding: 1rem 0.75rem;
  border-radius: 5px;
  line-height: 1;
  font-weight: 700;
}

.filter-tablet:hover {
  cursor: pointer;
}

/* Footer */

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: var(--dark-cyan);
}

/* Media Queries */
@media screen and (min-width: 376px) {
  body {
    background-image: url("../public/images/bg-header-desktop.svg"),
      linear-gradient(
        to bottom,
        var(--dark-cyan) 0,
        var(--dark-cyan) 156px,
        var(--light-grayish-cyan-2) 156px,
        var(--light-grayish-cyan-2) 100%
      );
  }

  .App {
    margin-top: 23rem;
  }

  .listing {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.25rem 4rem;
  }

  .listing-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .listing-text {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .image-wrapper {
    width: 8.8rem;
    position: static;
  }

  .filter-tablet {
    margin: 0 1.75rem 0 0;
  }

  .filter-tablet:last-of-type {
    margin-right: 0;
  }
}
